$main-bg: #010103;
$font-color: #ffffff;
$muted: #A7A7A7;
$highlight: #C7A17A;
$bebas: 'Bebas Neue', cursive;
$border-color: #32323D;
$sec-bg: #13131A;
$light-dark: #32323D;
$input-field: #F4F1EE;
$wrapper-bg: #000000c9;
$form-box-shadow: rgba(255, 255, 255, 0.1);
$form-shadow: rgba(0, 0, 0, 0.8);
$form-background: #131419;
$form-background-op: #131419ed;
$invalid-color: #ff0000c7;