@import "reset";
@import "variable";

@mixin flex($just: center, $align: center) {
	display: flex;
	justify-content: $just;
	align-items: $align;
}
@mixin neumorphism {
	cursor: pointer;
	margin-top: 20px;
	box-shadow: -2px -2px 6px $form-box-shadow, 2px 2px 6px $form-shadow;
	&:active {
		opacity: 0.8;
		margin-top: 20px;
		box-shadow: inset -2px -2px 6px $form-box-shadow, inset 2px 2px 6px $form-shadow;
	}
	&::placeholder {
		color: $muted;
		font-size: 18px;
	}
	&:hover {
		opacity: 0.9;
	}
}
@mixin container {
	padding: 20px;
	display: flex;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
	body {
		height: 100vh;
		background-color: $main-bg;
		#alert-div {
			position: fixed;
			right: 27px;
			bottom: 27px;
			z-index: 99999;
			transition: 0.3s all;
			.alert {
				@include flex(flex-start, center);
				color: $font-color;
				background-color: $form-box-shadow;
				padding: 15px 18px;
				border-radius: 5px;
				color: $valid-color;
				span {
					cursor: pointer;
					color: $font-color;
					margin-left: 15px;
				}
			}
			.alert-danger {
				color: $invalid-color;
			}
		}
		header {
			position: relative;
			background: {
				image: url(/images/hero-img.jpeg);
				size: cover;
				repeat: no-repeat;
			}
			min-height: 100vh;
			nav {
				border-bottom: 1px solid $border-color;
				position: relative;
				ul {
					list-style-type: none;
					padding: 28px 20px;
					@include flex(space-between);
					li {
						position: relative;
						@include flex();
						a {
							color: $font-color;
							transition: all 0.3s;
							font-size: 15px;
							font-weight: 500;
							line-height: 22px;
							text-decoration: none;
							text-transform: uppercase;
							position: relative;
							@include flex();
							&::before {
								content: "";
								position: absolute;
								width: 10px;
								height: 10px;
								border-radius: 50%;
								background-color: $highlight;
								top: 27%;
								left: 11px;
								transform: translate(-50%);
								transition: 0.3s all;
								visibility: hidden;
								opacity: 0;
							}
							&:hover {
								color: $highlight;
							}
							&:hover:not(.no-circle)::before {
								left: -9px;
								visibility: visible;
								opacity: 1;
							}
						}
						img {
							width: 85px;
						}
						.profile-pic {
							height: 45px;
							width: 45px;
							border-radius: 50%;
							cursor: pointer;
							border: 1px solid $border-color;
						}
						.dropdown-menu {
							position: absolute;
							bottom: -90px;
							visibility: hidden;
							opacity: 0;
							border-radius: 6px;
							border-top: 2px solid $highlight;
							display: flex;
							align-items: flex-start;
							flex-direction: column;
							width: 140px;
							background-color: $form-background;
							padding: 20px;
							transition: 0.3s all;
							box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
								rgba(0, 0, 0, 0.23) 0px 6px 6px;
							z-index: 999;
							a {
								text-align: left;
								margin-bottom: 12px;
								i {
									margin-right: 10px;
								}
								&:hover {
									i {
										color: $highlight;
									}
								}
								&:last-child {
									margin-bottom: 0px;
								}
							}
						}
						.dropdown-menu-reveal {
							transition: 0.3s all;
							visibility: visible;
							opacity: 1;
							bottom: -110px;
						}
						i {
							color: $font-color;
						}
					}
					.left-menu {
						flex-basis: 33.3333%;
						@include flex(flex-start);
						gap: 60px;
						li {
							text-align: left;
						}
					}
					.brand-image {
						flex-basis: 33.3333%;
						@include flex();
					}
					.right-menu {
						flex-basis: 25%;
						@include flex(flex-start);
						gap: 60px;
					}
					.btns {
						padding-left: 30px;
						flex-basis: 8.3333%;
						@include flex(flex-end);
						gap: 30px;
						li {
							&:first-child {
								display: none;
							}
							i {
								font-size: 20px;
								cursor: pointer;
							}
						}
						.search-section {
							.set-invisible {
								display: none;
							}
						}
					}
				}
				.vertical-menu {
					display: none;
				}
			}
			.sticky {
				width: 100%;
				position: fixed;
				z-index: 999;
				animation: {
					name: animationFade;
					duration: 1s;
					fill-mode: both;
				}
				background-color: $main-bg;
				ul {
					padding: 8px 20px;
				}
			}
			.search-input {
				position: absolute;
				right: 20px;
				background-color: $font-color;
				@include flex();
				padding: 15px 15px;
				opacity: 0;
				visibility: hidden;
				transform: scale(0);
				transition: 0.3s all;
				z-index: 999;
				form {
					input[type="search"] {
						font-size: 17px;
						height: 55px;
						padding: 10px;
						background-color: $input-field;
						border: none;
						width: 270px;
						&:focus {
							outline: none;
						}
					}
					button {
						background-color: $sec-bg;
						color: $font-color;
						border: none;
						font-size: 18px;
						height: 55px;
						width: 55px;
						margin-left: -10px;
						cursor: pointer;
					}
				}
			}
			.search-fading {
				position: fixed;
				top: 101px;
				animation: {
					name: animationFade;
					duration: 1s;
					fill-mode: both;
				}
			}
			.search-scaling {
				transform: scale(1);
				visibility: visible;
				opacity: 1;
			}
			.intro {
				padding: 20px;
				@include flex(center, flex-start);
				flex-direction: column;
				min-width: 50%;
				gap: 40px;
				h1 {
					color: $font-color;
					line-height: 97px;
					letter-spacing: 2px;
					font: {
						size: 100px;
						family: $bebas;
						weight: 400;
					}
				}
				p {
					color: $muted;
					font-size: 18px;
					line-height: 22px;
				}
				.intro-btns {
					display: flex;
					gap: 20px;
					button {
						position: relative;
						color: $font-color;
						cursor: pointer;
						padding: 16px 34px;
						text-transform: uppercase;
						border-radius: 5px;
						background-color: $highlight;
						border: none;
						letter-spacing: 2px;
						display: inline-block;
						box-shadow: inset 0 0 0 0 $highlight;
						transition: ease 0.4s;
						font-size: 12px;
						font-weight: 500;
						&:last-child {
							background-color: transparent;
							border: 2px solid $border-color;
						}
						&:first-child:hover {
							background-color: $light-dark;
						}
						&:last-child:hover {
							box-shadow: inset 180px 0 0 0 $highlight;
						}
					}
				}
				.social-media {
					display: flex;
					gap: 36px;
					span {
						a {
							color: $font-color;
							transition: 0.4s;
							text: {
								decoration: none;
								transform: uppercase;
							}
							font: {
								weight: 500;
								size: 15px;
							}
							&:hover {
								color: $highlight;
							}
							i {
								margin-right: 6px;
							}
						}
					}
				}
			}
			#error-404-500 {
				position: relative;
				height: 100vh;
				background: {
					image: url(/images/breadcrumb.jpeg);
					size: cover;
					position: center;
					repeat: no-repeat;
				}
				div {
					padding: 25px;
					background-color: $wrapper-bg;
					height: 100vh;
					@include flex();
					h1 {
						color: $font-color;
						margin-bottom: 140px;
						text-align: center;
						font: {
							family: cursive;
							size: 70px;
							weight: 400;
						}
					}
				}
			}
			#auth {
				display: flex;
				justify-content: center;
				height: 100vh;
				background-color: $form-background-op;
				padding: 50px 20px;
				.form {
					position: relative;
					width: 500px;
					padding: 40px 40px 60px;
					background-color: $form-background;
					border-radius: 10px;
					text-align: center;
					box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
						5px 5px 15px rgba(0, 0, 0, 0.5);
					h2 {
						color: #c7c7c7;
						font-weight: 500;
						text-transform: uppercase;
						letter-spacing: 4px;
					}
					.input {
						text-align: left;
						margin-top: 40px;
						.inputBox {
							margin-top: 20px;
							label {
								display: block;
								color: $muted;
								margin-bottom: 5px;
								font-size: 18px;
							}
							input {
								width: 100%;
								height: 50px;
								background-color: $form-background;
								border: none;
								outline: none;
								border-radius: 40px;
								padding: 5px 15px;
								font-size: 18px;
								color: $highlight;
								box-shadow: inset -2px -2px 6px $form-box-shadow,
									inset 2px 2px 6px $form-shadow;
								&[type="submit"] {
									@include neumorphism();
								}
							}
							textarea {
								@extend input;
								resize: none;
								height: 130px;
								padding-top: 14px;
							}
							.is-invalid {
								border: 1px solid $invalid-color;
							}
							.invalid-feedback {
								p {
									color: $invalid-color;
									padding: 9px 0px 0px 0px;
									font: {
										size: 14px;
										family: system-ui;
										weight: 400;
									}
								}
							}
						}
					}
					.change-profile-img {
						height: 205px;
						width: 205px;
						overflow: hidden;
						position: relative;
						border-radius: 50%;
						border: 3px solid $highlight;
						margin: 20px auto 25px auto;
						.choose-img {
							position: absolute;
							bottom: -75px;
							background-color: $form-background-op;
							display: flex;
							justify-content: center;
							align-items: center;
							height: 70px;
							width: 100%;
							transition: 0.3s all;
							&:hover {
								bottom: 0;
							}
							form {
								overflow: hidden;
								label {
									color: $font-color;
									width: 190px;
									height: 76px;
									cursor: pointer;
									display: flex;
									justify-content: center;
									align-items: center;
									overflow: hidden;
									border-bottom-left-radius: 100px;
									border-bottom-right-radius: 100px;
									i {
										font-size: 30px;
									}
								}
								input {
									display: none;
								}
							}
						}
						img {
							height: 200px;
							width: 200px;
							border-radius: 50%;
							&:hover + .choose-img {
								bottom: 0;
							}
						}
					}
					#removeProfilePicsBtn {
						color: $invalid-color;
						border: none;
						border-radius: 50px;
						font-size: 16px;
						cursor: pointer;
						height: 50px;
						width: 140px;
						background-color: $form-background;
						box-shadow: -2px -2px 6px $form-box-shadow, 2px 2px 6px $form-shadow;
						&:active {
							opacity: 0.8;
							box-shadow: inset -2px -2px 6px $form-box-shadow,
								inset 2px 2px 6px $form-shadow;
						}
					}
				}
				.reminder {
					margin-top: 30px;
					color: $muted;
					a {
						color: $highlight;
						text-decoration: none;
						transition: 0.2s all;
						&:hover {
							text-decoration: underline;
							opacity: 0.9;
						}
					}
				}
			}
			.auth-height-def {
				height: 128vh !important;
			}
			.auth-height {
				height: 140vh !important;
			}
		}
		#opening {
			margin-top: 120px;
			.container {
				@include container();
				.full-row {
					display: flex;
					gap: 1.5%;
					[class^="prod-"] {
						position: relative;
						display: flex;
						.images {
							position: relative;
							&::before {
								content: "";
								width: 0%;
								background-color: $highlight;
								height: 4px;
								position: absolute;
								z-index: 9;
								top: 0;
								transition: 0.3s ease-in width;
							}
							.product-img {
								width: 100%;
							}
							.shape {
								position: absolute;
								left: 1px;
								right: 1px;
								width: -webkit-fill-available;
								top: 1px;
							}
						}
						&:hover .images::before {
							width: 100%;
						}
						.des {
							position: absolute;
							padding: 40px;
							span {
								color: $highlight;
							}
							h3 {
								color: $font-color;
								font-family: $bebas;
								font-size: 33px;
								font-weight: 500;
							}
							p {
								color: $font-color;
								font-weight: 500;
								color: $muted;
								font-size: 18px;
							}
						}
					}
				}
			}
		}
		#about {
			margin-top: 74px;
			.container {
				@include container();
				.full-row {
					display: flex;
					.about-img {
						width: 50%;
					}
					.des {
						padding: 70px;
						border: 1px solid $product-border;
						width: 50%;
						height: 503px;
						background-color: $sec-bg;
						span {
							color: $font-color;
							display: inline-block;
							padding: 4px 13px;
							background-color: $highlight;
							border-radius: 4px;
							font-size: 13px;
							letter-spacing: 1px;
							margin-bottom: 20px;
						}
						h1 {
							font: {
								family: $bebas;
								size: 50px;
								weight: 500;
							}
							color: $font-color;
						}
						p {
							font-size: 17px;
							color: $muted;
							line-height: 1.5rem;
							&:nth-child(3) {
								padding: 20px 0px 35px 0px;
							}
						}
					}
				}
			}
		}
		#crop-modal {
			top: 0;
			width: 100%;
			height: 100vh;
			position: fixed;
			background-color: rgba(0, 0, 0, 0.308);
			z-index: 9999;
			display: none;
			padding: 20px;
			.modal-dialog {
				width: 340px;
				max-width: 340px;
				background-color: $font-color;
				border-radius: 5px;
				margin: 20px auto;
				.modal-header {
					@include flex(space-between, center);
					border-bottom: 1px solid $border-color;
					padding: 20px;
					h5 {
						font-size: 20px;
					}
					button {
						background-color: $invalid-color;
						color: $font-color;
						border: 1px solid $font-color;
						border-radius: 5px;
						width: 44px;
						height: 28px;
						cursor: pointer;
						@include flex();
					}
				}
				.modal-body {
					border-bottom: 1px solid $border-color;
					padding: 20px;
				}
				.modal-footer {
					display: flex;
					justify-content: flex-end;
					padding: 20px;
					gap: 10px;
					button {
						font-size: 16px;
						@include neumorphism();
						margin-top: 0;
						width: 80px;
						height: 34px;
						&:active {
							margin-top: 0;
						}
						&:first-child {
							color: $invalid-color;
						}
					}
				}
			}
		}
		footer {
			position: relative;
			background: {
				image: url(/images/footer.jpeg);
				size: cover;
				position: center;
				repeat: no-repeat;
			}
			border-top: 1px solid $border-color;
			.footer-wrapper {
				padding: 150px 20px 0px 20px;
				background-color: $wrapper-bg;
				#gotoTop {
					span {
						position: absolute;
						left: 50%;
						top: -27px;
						transform: translate(-50%);
						height: 50px;
						width: 50px;
						border: 2px solid $border-color;
						background-color: $main-bg;
						border-radius: 50%;
						@include flex();
						cursor: pointer;
						transition: 0.3s;
						&::after {
							content: "GO TO TOP";
							position: absolute;
							left: 23px;
							bottom: -34px;
							transform: translate(-50%);
							width: 100px;
							text-align: center;
							font-size: 15px;
							color: $font-color;
						}
						&:hover {
							background-color: $highlight;
						}
					}
					i {
						color: $font-color !important;
					}
				}
				.news-latter-section {
					@include flex(flex-start, center);
					> div {
						flex-basis: 33.3333%;
						color: $font-color;
						display: flex;
						align-items: center;
						gap: 15px;
						&:nth-child(2) {
							text-align: center;
							justify-content: center;
						}
						span {
							color: $font-color;
							&:last-child {
								color: $muted;
							}
						}
					}
					> form {
						margin-left: auto;
						input[type="email"] {
							background-color: transparent;
							border: none;
							border-bottom: 1px solid $border-color;
							padding: 18px 10px;
							min-width: 200px;
							color: $font-color;
							font-size: 17px;
							&:focus {
								outline: none;
								box-shadow: none;
							}
						}
						button {
							height: 57px;
							margin-left: -10px;
							background-color: transparent;
							cursor: pointer;
							border: none;
							border-bottom: 1px solid $border-color;
							color: $font-color;
							padding: 0px 10px;
							i {
								margin-left: 8px;
							}
						}
					}
				}
				.short-bio {
					display: flex;
					padding: 70px 0px 30px 0px;

					.short-motif {
						flex-basis: 50%;
						margin-bottom: 30px;
						img {
							width: 80px;
							height: 80px;
						}
						.short-des {
							color: $font-color;
							font-size: 18px;
						}
					}
					.socials-rect {
						flex-basis: 50%;
						@include flex(flex-end);
						gap: 10px;
						> a {
							span {
								color: $muted;
								width: 40px;
								height: 40px;
								border-radius: 4px;
								@include flex();
								border: 1px solid $border-color;
								transition: 0.3s all;
							}
							&:hover span {
								border-color: $font-color;
								color: $font-color;
							}
						}
					}
				}
				.final-footer {
					border-top: 1px solid $border-color;
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 30px;
					text-align: center;
					span {
						color: $font-color;
					}
				}
			}
		}
	}
}

@keyframes animationFade {
	from {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

@media (max-width: 1093px) {
	#opening {
		.container {
			.full-row {
				width: 100%;
				flex-wrap: wrap !important;
				row-gap: 14px !important;
				[class^="prod-"] {
					min-width: 48.5% !important;
					width: 49.25%;
					.images {
						overflow: hidden;
						width: 100%;
						.product-img {
							width: 100%;
						}
					}
				}
			}
		}
	}
	#about {
		.container {
			.full-row {
				flex-wrap: wrap;
				.about-img {
					width: 100%;
					flex-basis: 100%;
					margin-bottom: -6px;
					img {
						width: 100%;
					}
				}
				.des {
					height: auto !important;
					flex-basis: 100%;
				}
			}
		}
	}
}

@media (max-width: 972px) {
	html {
		body {
			overflow-x: hidden;
			header {
				nav {
					ul {
						padding: 6px 20px;
						.left-menu {
							display: none;
						}
						.brand-image {
							@include flex(flex-start);
							li {
								img {
									width: 70px;
								}
							}
						}
						.right-menu {
							display: none;
						}
						.btns {
							li {
								&:first-child {
									display: inherit;
								}
							}
						}
					}
					.vertical-menu {
						position: fixed;
						right: -300px;
						top: 0;
						width: 280px;
						background-color: $font-color;
						height: 100vh;
						display: inherit;
						overflow-y: auto;
						transition: 0.4s ease-in-out all;
						z-index: 999;
						.functionality {
							@include flex(space-between);
							padding: 18px;
							a {
								img {
									width: 70px;
									filter: grayscale(100%);
								}
							}
							i {
								font-size: 30px;
								cursor: pointer;
								transition: 0.3s all;
								&:hover {
									color: $highlight;
								}
							}
						}
						ul {
							@include flex(flex-start, flex-start);
							flex-direction: column;
							li {
								margin: 10px 0px;
								a {
									color: $main-bg;
									&:hover {
										color: $highlight;
									}
								}
							}
							.user-det {
								.dropdown-menu {
									bottom: -54px;
									right: -135px;
									border: none;
									border-left: 2px solid $highlight;
									a {
										color: $font-color;
										&:hover {
											color: $highlight;
										}
									}
								}
								.dropdown-menu-reveal {
									transition: 0.3s all;
									visibility: visible;
									opacity: 1;
									bottom: -54px;
									right: -157px;
								}
							}
						}
					}
					.reveal-sidebar {
						z-index: 99999;
						right: 0;
					}
				}
				.intro {
					height: 86vh;
				}
				.search-fading {
					z-index: 99;
					top: 87px;
				}
				#error-404-500 {
					div {
						h1 {
							font: {
								size: 50px;
								weight: 400;
							}
						}
					}
				}
			}
			footer {
				.footer-wrapper {
					.news-latter-section {
						flex-wrap: wrap;
						> div {
							&:nth-child(1) {
								justify-content: center;
								flex-basis: 50%;
							}
							&:nth-child(2) {
								flex-basis: 50%;
							}
						}
						> form {
							margin: auto;
							margin-top: 40px;
							input[type="email"] {
								min-width: 300px;
								background-color: transparent;
							}
						}
					}
					.short-bio {
						flex-wrap: wrap;
						.short-motif {
							flex-basis: 100%;
							display: flex;
							flex-direction: row;
							align-items: center;
							gap: 20px;
						}
						.socials-rect {
							flex-basis: 100%;
							gap: 10px;
							justify-content: flex-start;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 732px) {
	#opening {
		.container {
			.full-row {
				width: 100%;
				flex-wrap: wrap !important;
				gap: 20px !important;
				[class^="prod-"] {
					min-width: 48.5% !important;
					width: 100%;
					height: 300px;
					.images {
						overflow: hidden;
						width: 100%;
						border-bottom: 1.5px solid $product-border;
						.product-img {
							width: 100%;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 592px) {
	html {
		body {
			header {
				.intro {
					@include flex();
					h1 {
						font-size: 60px;
						line-height: 57px;
						text-align: center;
					}
					p {
						text-align: center;
					}
				}
			}
			#about {
				.container {
					.full-row {
						.des {
							padding: 40px !important;
						}
					}
				}
			}
			footer {
				.footer-wrapper {
					.news-latter-section {
						> div {
							&:nth-child(1) {
								flex-basis: 100%;
								margin-bottom: 30px;
							}
							&:nth-child(2) {
								flex-basis: 100%;
							}
						}
						> form {
							input[type="email"] {
								max-width: 300px;
							}
						}
					}
				}
			}
		}
	}
}
