<%- include("../../partials/head.ejs")  %>
</head>
<body>
    <%- include("../../partials/alert.ejs")  %>
    <%- include("../../partials/header.ejs") %>
        <section id="all-menu">
            <div class="breadcrumb">
                <h1>MENUS & PRODUCTS</h1>
                <p><span>HOME</span> / MENU / ALL</p>
            </div>
        </section>

    </header>

    <%- include("../../partials/footer.ejs") %>
</body>
</html>