<%- include("../../partials/head.ejs")  %>
</head>
<body>
    <%- include("../../partials/alert.ejs")  %>
    <%- include("../../partials/header.ejs") %>
        <section id="all-menu">
            <div class="breadcrumb">
                <h1>MENUS & PRODUCTS</h1>
                <p><span>HOME</span> / MENU / ALL</p>
            </div>
        </section>

    </header>
    <!-- menu section -->
    <section id="menu">
        <div class="sm-heading">
            <span>MENU</span>
            <h1>CAFE ALL MENU</h1>
        </div>
        <div class="container-sm">
            <div class="full-row">
                <div class="single-menu">
                    <img src="/images/menu-1.png" alt="menu">
                    <div class="inner-section">
                        <span>American Roasted GREED</span>
                        <span>$11.00</span>
                    </div>
                </div>
                <div class="single-menu">
                    <img src="/images/menu-3.png" alt="menu">
                    <div class="inner-section">
                        <span>CAFÈ AU LAIT Coffee</span>
                        <span>$12.00</span>
                    </div>
                </div>
                <div class="single-menu">
                    <img src="/images/menu-2.png" alt="menu">
                    <div class="inner-section">
                        <span>Pure Roasted GREED</span>
                        <span>$8.20</span>
                    </div>
                </div>
                <div class="single-menu">
                    <img src="/images/menu-5.png" alt="menu">
                    <div class="inner-section">
                        <span>JAPANESE COFFEE GREED</span>
                        <span>$10.50</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-footer">
            <a href="/add/menu">Add Menu</a>
        </div>
    </section>
    <%- include("../../partials/footer.ejs") %>
</body>
</html>