<%- include("../../partials/head.ejs")  %>
</head>
<body>
    <%- include("../../partials/alert.ejs")  %>
    <%- include("../../partials/header.ejs", {orders: orders || false}) %>
        <section id="all-menu">
        </section>

    </header>

    <%- include("../../partials/footer.ejs") %>
</body>
</html>