@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

html {
  scroll-behavior: smooth;
}
html body {
  height: 100vh;
  background-color: #010103;
}
html body header {
  position: relative;
  background-image: url(/images/hero-img.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
html body header nav {
  border-bottom: 1px solid #32323D;
  position: relative;
}
html body header nav ul {
  list-style-type: none;
  padding: 28px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html body header nav ul li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body header nav ul li a {
  color: #ffffff;
  transition: all 0.3s;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body header nav ul li a::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #C7A17A;
  top: 27%;
  left: 11px;
  transform: translate(-50%);
  transition: 0.3s all;
  visibility: hidden;
  opacity: 0;
}
html body header nav ul li a:hover {
  color: #C7A17A;
}
html body header nav ul li a:hover:not(.no-circle)::before {
  left: -9px;
  visibility: visible;
  opacity: 1;
}
html body header nav ul li img {
  width: 85px;
}
html body header nav ul li .profile-pic {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #32323D;
}
html body header nav ul li .dropdown-menu {
  position: absolute;
  bottom: -90px;
  visibility: hidden;
  opacity: 0;
  border-radius: 6px;
  border-top: 2px solid #C7A17A;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 140px;
  background-color: #131419;
  padding: 20px;
  transition: 0.3s all;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  z-index: 999;
}
html body header nav ul li .dropdown-menu a {
  text-align: left;
  margin-bottom: 12px;
}
html body header nav ul li .dropdown-menu a i {
  margin-right: 10px;
}
html body header nav ul li .dropdown-menu a:hover i {
  color: #C7A17A;
}
html body header nav ul li .dropdown-menu a:last-child {
  margin-bottom: 0px;
}
html body header nav ul li .dropdown-menu-reveal {
  transition: 0.3s all;
  visibility: visible;
  opacity: 1;
  bottom: -110px;
}
html body header nav ul li i {
  color: #ffffff;
}
html body header nav ul .left-menu {
  flex-basis: 33.3333%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
}
html body header nav ul .left-menu li {
  text-align: left;
}
html body header nav ul .brand-image {
  flex-basis: 33.3333%;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body header nav ul .right-menu {
  flex-basis: 25%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
}
html body header nav ul .btns {
  padding-left: 30px;
  flex-basis: 8.3333%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}
html body header nav ul .btns li:first-child {
  display: none;
}
html body header nav ul .btns li i {
  font-size: 20px;
  cursor: pointer;
}
html body header nav ul .btns .search-section .set-invisible {
  display: none;
}
html body header nav .vertical-menu {
  display: none;
}
html body header .sticky {
  width: 100%;
  position: fixed;
  z-index: 999;
  -webkit-animation-name: animationFade;
          animation-name: animationFade;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  background-color: #010103;
}
html body header .sticky ul {
  padding: 8px 20px;
}
html body header .search-input {
  position: absolute;
  right: 20px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 15px;
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  transition: 0.3s all;
  z-index: 999;
}
html body header .search-input form input[type=search], html body header .search-input form #auth .form .input .inputBox textarea[type=search], html body #auth .form .input .inputBox header .search-input form textarea[type=search] {
  font-size: 17px;
  height: 55px;
  padding: 10px;
  background-color: #F4F1EE;
  border: none;
  width: 270px;
}
html body header .search-input form input[type=search]:focus, html body header .search-input form #auth .form .input .inputBox textarea[type=search]:focus, html body #auth .form .input .inputBox header .search-input form textarea[type=search]:focus {
  outline: none;
}
html body header .search-input form button {
  background-color: #13131A;
  color: #ffffff;
  border: none;
  font-size: 18px;
  height: 55px;
  width: 55px;
  margin-left: -10px;
  cursor: pointer;
}
html body header .search-fading {
  position: fixed;
  top: 101px;
  -webkit-animation-name: animationFade;
          animation-name: animationFade;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
html body header .search-scaling {
  transform: scale(1);
  visibility: visible;
  opacity: 1;
}
html body header .intro {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  min-width: 50%;
  gap: 40px;
}
html body header .intro h1 {
  color: #ffffff;
  line-height: 97px;
  letter-spacing: 2px;
  font-size: 100px;
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
}
html body header .intro p {
  color: #A7A7A7;
  font-size: 18px;
  line-height: 22px;
}
html body header .intro .intro-btns {
  display: flex;
  gap: 20px;
}
html body header .intro .intro-btns button {
  position: relative;
  color: #ffffff;
  cursor: pointer;
  padding: 16px 34px;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #C7A17A;
  border: none;
  letter-spacing: 2px;
  display: inline-block;
  box-shadow: inset 0 0 0 0 #C7A17A;
  transition: ease 0.4s;
  font-size: 12px;
  font-weight: 500;
}
html body header .intro .intro-btns button:last-child {
  background-color: transparent;
  border: 2px solid #32323D;
}
html body header .intro .intro-btns button:first-child:hover {
  background-color: #32323D;
}
html body header .intro .intro-btns button:last-child:hover {
  box-shadow: inset 180px 0 0 0 #C7A17A;
}
html body header .intro .social-media {
  display: flex;
  gap: 36px;
}
html body header .intro .social-media span a {
  color: #ffffff;
  transition: 0.4s;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
}
html body header .intro .social-media span a:hover {
  color: #C7A17A;
}
html body header .intro .social-media span a i {
  margin-right: 6px;
}
html body #error-404-500 {
  position: relative;
  height: 100vh;
  background-image: url(/images/breadcrumb.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
html body #error-404-500 div {
  padding: 25px;
  background-color: #000000c9;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body #error-404-500 div h1 {
  color: #ffffff;
  margin-bottom: 140px;
  text-align: center;
  font-family: cursive;
  font-size: 70px;
  font-weight: 400;
}
html body #auth {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #131419ed;
  padding: 50px 20px;
}
html body #auth .form {
  position: relative;
  width: 500px;
  padding: 40px 40px 60px;
  background-color: #131419;
  border-radius: 10px;
  text-align: center;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05), 5px 5px 15px rgba(0, 0, 0, 0.5);
}
html body #auth .form h2 {
  color: #c7c7c7;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
}
html body #auth .form .input {
  text-align: left;
  margin-top: 40px;
}
html body #auth .form .input .inputBox {
  margin-top: 20px;
}
html body #auth .form .input .inputBox label {
  display: block;
  color: #A7A7A7;
  margin-bottom: 5px;
  font-size: 18px;
}
html body #auth .form .input .inputBox input, html body #auth .form .input .inputBox textarea {
  width: 100%;
  height: 50px;
  background-color: #131419;
  border: none;
  outline: none;
  border-radius: 40px;
  padding: 5px 15px;
  font-size: 18px;
  color: #C7A17A;
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1), inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}
html body #auth .form .input .inputBox input[type=submit], html body #auth .form .input .inputBox textarea[type=submit] {
  cursor: pointer;
  margin-top: 20px;
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.1), 2px 2px 6px rgba(0, 0, 0, 0.8);
}
html body #auth .form .input .inputBox input[type=submit]:active, html body #auth .form .input .inputBox textarea[type=submit]:active {
  opacity: 0.8;
  margin-top: 20px;
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1), inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}
html body #auth .form .input .inputBox input[type=submit]::-moz-placeholder, html body #auth .form .input .inputBox textarea[type=submit]::-moz-placeholder {
  color: #A7A7A7;
  font-size: 18px;
}
html body #auth .form .input .inputBox input[type=submit]:-ms-input-placeholder, html body #auth .form .input .inputBox textarea[type=submit]:-ms-input-placeholder {
  color: #A7A7A7;
  font-size: 18px;
}
html body #auth .form .input .inputBox input[type=submit]::placeholder, html body #auth .form .input .inputBox textarea[type=submit]::placeholder {
  color: #A7A7A7;
  font-size: 18px;
}
html body #auth .form .input .inputBox input[type=submit]:hover, html body #auth .form .input .inputBox textarea[type=submit]:hover {
  opacity: 0.9;
}
html body #auth .form .input .inputBox textarea {
  resize: none;
  height: 130px;
  padding-top: 14px;
}
html body #auth .form .input .inputBox .is-invalid {
  border: 1px solid #ff0000c7;
}
html body #auth .form .input .inputBox .invalid-feedback p {
  color: #ff0000c7;
  padding: 9px 0px 0px 0px;
  font-size: 14px;
  font-family: system-ui;
  font-weight: 400;
}
html body #auth .form .change-profile-img {
  height: 205px;
  width: 205px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  border: 3px solid #C7A17A;
  margin: 20px auto 25px auto;
}
html body #auth .form .change-profile-img .choose-img {
  position: absolute;
  bottom: -75px;
  background-color: #131419ed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  transition: 0.3s all;
}
html body #auth .form .change-profile-img .choose-img:hover {
  bottom: 0;
}
html body #auth .form .change-profile-img .choose-img form {
  overflow: hidden;
}
html body #auth .form .change-profile-img .choose-img form label {
  color: #ffffff;
  width: 190px;
  height: 76px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}
html body #auth .form .change-profile-img .choose-img form label i {
  font-size: 30px;
}
html body #auth .form .change-profile-img .choose-img form input, html body #auth .form .change-profile-img .choose-img form .input .inputBox textarea, html body #auth .form .input .inputBox .change-profile-img .choose-img form textarea {
  display: none;
}
html body #auth .form .change-profile-img img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
html body #auth .form .change-profile-img img:hover + .choose-img {
  bottom: 0;
}
html body #auth .form #removeProfilePicsBtn {
  color: #ff0000c7;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  height: 50px;
  width: 140px;
  background-color: #131419;
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.1), 2px 2px 6px rgba(0, 0, 0, 0.8);
}
html body #auth .form #removeProfilePicsBtn:active {
  opacity: 0.8;
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1), inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}
html body #auth .reminder {
  margin-top: 30px;
  color: #A7A7A7;
}
html body #auth .reminder a {
  color: #C7A17A;
  text-decoration: none;
  transition: 0.2s all;
}
html body #auth .reminder a:hover {
  text-decoration: underline;
  opacity: 0.9;
}
html body .auth-height-def {
  height: 128vh !important;
}
html body .auth-height {
  height: 140vh !important;
}
html body footer {
  position: relative;
  background-image: url(/images/footer.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top: 1px solid #32323D;
}
html body footer .footer-wrapper {
  padding: 150px 20px 0px 20px;
  background-color: #000000c9;
}
html body footer .footer-wrapper #gotoTop span {
  position: absolute;
  left: 50%;
  top: -27px;
  transform: translate(-50%);
  height: 50px;
  width: 50px;
  border: 2px solid #32323D;
  background-color: #010103;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
html body footer .footer-wrapper #gotoTop span::after {
  content: "GO TO TOP";
  position: absolute;
  left: 23px;
  bottom: -34px;
  transform: translate(-50%);
  width: 100px;
  text-align: center;
  font-size: 15px;
  color: #ffffff;
}
html body footer .footer-wrapper #gotoTop span:hover {
  background-color: #C7A17A;
}
html body footer .footer-wrapper #gotoTop i {
  color: #ffffff !important;
}
html body footer .footer-wrapper .news-latter-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
html body footer .footer-wrapper .news-latter-section > div {
  flex-basis: 33.3333%;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 15px;
}
html body footer .footer-wrapper .news-latter-section > div:nth-child(2) {
  text-align: center;
  justify-content: center;
}
html body footer .footer-wrapper .news-latter-section > div span {
  color: #ffffff;
}
html body footer .footer-wrapper .news-latter-section > div span:last-child {
  color: #A7A7A7;
}
html body footer .footer-wrapper .news-latter-section > form {
  margin-left: auto;
}
html body footer .footer-wrapper .news-latter-section > form input[type=email], html body footer .footer-wrapper .news-latter-section > form #auth .form .input .inputBox textarea[type=email], html body #auth .form .input .inputBox footer .footer-wrapper .news-latter-section > form textarea[type=email] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #32323D;
  padding: 18px 10px;
  min-width: 200px;
  color: #ffffff;
  font-size: 17px;
}
html body footer .footer-wrapper .news-latter-section > form input[type=email]:focus, html body footer .footer-wrapper .news-latter-section > form #auth .form .input .inputBox textarea[type=email]:focus, html body #auth .form .input .inputBox footer .footer-wrapper .news-latter-section > form textarea[type=email]:focus {
  outline: none;
  box-shadow: none;
}
html body footer .footer-wrapper .news-latter-section > form button {
  height: 57px;
  margin-left: -10px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid #32323D;
  color: #ffffff;
  padding: 0px 10px;
}
html body footer .footer-wrapper .news-latter-section > form button i {
  margin-left: 8px;
}
html body footer .footer-wrapper .short-bio {
  display: flex;
  padding: 70px 0px 30px 0px;
}
html body footer .footer-wrapper .short-bio .short-motif {
  flex-basis: 50%;
  margin-bottom: 30px;
}
html body footer .footer-wrapper .short-bio .short-motif img {
  width: 80px;
  height: 80px;
}
html body footer .footer-wrapper .short-bio .short-motif .short-des {
  color: #ffffff;
  font-size: 18px;
}
html body footer .footer-wrapper .short-bio .socials-rect {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
html body footer .footer-wrapper .short-bio .socials-rect > a span {
  color: #A7A7A7;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #32323D;
  transition: 0.3s all;
}
html body footer .footer-wrapper .short-bio .socials-rect > a:hover span {
  border-color: #ffffff;
  color: #ffffff;
}
html body footer .footer-wrapper .final-footer {
  border-top: 1px solid #32323D;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  text-align: center;
}
html body footer .footer-wrapper .final-footer span {
  color: #ffffff;
}

@-webkit-keyframes animationFade {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes animationFade {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@media (max-width: 972px) {
  html body {
    overflow-x: hidden;
  }
  html body header nav ul {
    padding: 6px 20px;
  }
  html body header nav ul .left-menu {
    display: none;
  }
  html body header nav ul .brand-image {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  html body header nav ul .brand-image li img {
    width: 70px;
  }
  html body header nav ul .right-menu {
    display: none;
  }
  html body header nav ul .btns li:first-child {
    display: inherit;
  }
  html body header nav .vertical-menu {
    position: absolute;
    right: -300px;
    top: 0;
    width: 280px;
    background-color: #ffffff;
    height: 100vh;
    display: inherit;
    overflow-y: auto;
    transition: 0.4s ease-in-out all;
    z-index: 999;
  }
  html body header nav .vertical-menu .functionality {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
  }
  html body header nav .vertical-menu .functionality a img {
    width: 70px;
    filter: grayscale(100%);
  }
  html body header nav .vertical-menu .functionality i {
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s all;
  }
  html body header nav .vertical-menu .functionality i:hover {
    color: #C7A17A;
  }
  html body header nav .vertical-menu ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  html body header nav .vertical-menu ul li {
    margin: 10px 0px;
  }
  html body header nav .vertical-menu ul li a {
    color: #010103;
  }
  html body header nav .vertical-menu ul li a:hover {
    color: #C7A17A;
  }
  html body header nav .vertical-menu ul .user-det .dropdown-menu {
    bottom: -54px;
    right: -135px;
    border: none;
    border-left: 2px solid #C7A17A;
  }
  html body header nav .vertical-menu ul .user-det .dropdown-menu a {
    color: #ffffff;
  }
  html body header nav .vertical-menu ul .user-det .dropdown-menu a:hover {
    color: #C7A17A;
  }
  html body header nav .vertical-menu ul .user-det .dropdown-menu-reveal {
    transition: 0.3s all;
    visibility: visible;
    opacity: 1;
    bottom: -54px;
    right: -157px;
  }
  html body header nav .reveal-sidebar {
    z-index: 99999;
    right: 0;
  }
  html body header .intro {
    height: 86vh;
  }
  html body header .search-fading {
    z-index: 99;
    top: 87px;
  }
  html body #error-404-500 div h1 {
    font-size: 50px;
    font-weight: 400;
  }
  html body footer .footer-wrapper .news-latter-section {
    flex-wrap: wrap;
  }
  html body footer .footer-wrapper .news-latter-section > div:nth-child(1) {
    justify-content: center;
    flex-basis: 50%;
  }
  html body footer .footer-wrapper .news-latter-section > div:nth-child(2) {
    flex-basis: 50%;
  }
  html body footer .footer-wrapper .news-latter-section > form {
    margin: auto;
    margin-top: 40px;
  }
  html body footer .footer-wrapper .news-latter-section > form input[type=email], html body footer .footer-wrapper .news-latter-section > form #auth .form .input .inputBox textarea[type=email], html body #auth .form .input .inputBox footer .footer-wrapper .news-latter-section > form textarea[type=email] {
    min-width: 300px;
    background-color: transparent;
  }
  html body footer .footer-wrapper .short-bio {
    flex-wrap: wrap;
  }
  html body footer .footer-wrapper .short-bio .short-motif {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  html body footer .footer-wrapper .short-bio .socials-rect {
    flex-basis: 100%;
    gap: 10px;
    justify-content: flex-start;
  }
}
@media (max-width: 592px) {
  html body header .intro {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  html body header .intro h1 {
    font-size: 60px;
    line-height: 57px;
    text-align: center;
  }
  html body header .intro p {
    text-align: center;
  }
  html body footer .footer-wrapper .news-latter-section > div:nth-child(1) {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  html body footer .footer-wrapper .news-latter-section > div:nth-child(2) {
    flex-basis: 100%;
  }
  html body footer .footer-wrapper .news-latter-section > form input[type=email], html body footer .footer-wrapper .news-latter-section > form #auth .form .input .inputBox textarea[type=email], html body #auth .form .input .inputBox footer .footer-wrapper .news-latter-section > form textarea[type=email] {
    max-width: 300px;
  }
}