<aside>
    <ul>
        <a href="/dashboard/edit-item"><li><i class="bi bi-pencil-square"></i> Edit Items</li></a>
        <a href="/"><li><i class="bi bi-pencil-square"></i> Edit Blogs</li></a>
        <a href="/dashboard/reservation"><li><i class="bi bi-calendar2-month"></i> Reservation</li></a>
        <a href="/dashboard/checkouts/all#show-checkout"><li><i class="bi bi-bag-check"></i> Checkout</li></a>
        <a href="/dashboard/subscription"><li><i class="bi bi-envelope-check"></i> Subscription</li></a>
        <span title="Reveal Option" id="reveal-admin-opt"><i class="bi bi-caret-right-fill"></i></span>
    </ul>
</aside>