<%- include("../../partials/head.ejs")  %>
</head>
<body>
    <%- include("../../partials/alert.ejs")  %>
    <%- include("../../partials/header.ejs") %>
        <section id="all-menu">
            <div class="breadcrumb">
                <h1>SEARCH RESULT OF </h1>
                <p><span>HOME</span> / SEARCH</p>
            </div>
        </section>
    </header>

    <!-- search result section -->
    <section id="search-result">
        
    </section>
    
    <%- include("../../partials/footer.ejs") %>
    
    <script src="/scripts/menu.js"></script>
</body>
</html>