<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/style.min.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Menu</a></li>
            <li><a href="#">Reservation</a></li>
            <li><img src="" alt="logo"></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Contact</a></li>
            <li><i class="bi bi-search"></i></li>
            <li><i class="bi bi-basket2-fill"></i></li>
        </ul>
    </nav>
    <main>
        
    </main>

    <script src="/scripts/main.js"></script>
</body>
</html>