<%- include("../partials/head.ejs")  %>
</head>
<body>
    <%- include("../partials/alert.ejs")  %>
    <%- include("../partials/header.ejs")  %>
        <div class="intro">
            <h1>
                roasted coffee <br />
                for you
            </h1>
            <p>
                The coffee is brewed by first roasting the green coffee beans over hot <br />
                coals in a brazier. given an opportunity to sample.
            </p>
            <div class="intro-btns">
                <button>Testy Coffee</button>
                <button>Read More</button>
            </div>
            <div class="social-media">
                <span>
                    <a href="https://www.facebook.com/sharif.mdminhaz"><i class="bi bi-facebook"></i> Facebook</a>
                </span>
                <span>
                    <a href="https://twitter.com/rabbi_minhaz"><i class="bi bi-twitter"></i> Twitter</a>
                </span>
                <span>
                    <a target="_blank" href="https://github.com/Sharif-Minhaz"><i class="bi bi-github"></i> Github</a>
                </span>
            </div>
        </div>
    </header>

    <section id="opening">
        <div class="container">
            <div class="full-row">
                <div class="prod-1">
                    <div class="images">
                        <img class="product-img" src="/images/f-1.jpeg" alt="product_image">
                        <img class="shape" src="/images/shape-1.png" alt="shape">
                    </div>
                    <div class="des">
                        <span>01</span>
                        <h3>Best Coffee flavour</h3>
                        <p>Curabitur semper erat a lacusey sedn consequat, sit ametey.</p>
                    </div>
                </div>
                <div class="prod-2">
                    <div class="images">
                        <img class="product-img" src="/images/f-2.jpeg" alt="product_image">
                        <img class="shape" src="/images/shape-1.png" alt="shape">
                    </div>
                    <div class="des">
                        <span>02</span>
                        <h3>Place to Get Lost</h3>
                        <p>Curabitur semper erat a lacusey sedn consequat, sit ametey.</p>
                    </div>
                </div>
                <div class="prod-3">
                    <div class="images">
                        <img class="product-img" src="/images/f-3.jpeg" alt="product_image">
                        <img class="shape" src="/images/shape-1.png" alt="shape">
                    </div>
                    <div class="des">
                        <span>03</span>
                        <h3>Proper Roasting</h3>
                        <p>Curabitur semper erat a lacusey sedn consequat, sit ametey.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include("../partials/footer.ejs")  %>
</body>
</html>